.wrapper {
	background: var(--color-background-dark);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 40px;
	align-items: center;
	border-radius: 5px;
	padding: var(--spacing-S) var(--spacing-M);

	.styledSpan {
		color: var(--color-text-contrast);
		font-size: var(--font-size-S);
	}

	.employees {
		border-top: 2px solid var(--color-outline-active);
		padding: var(--spacing-S) 0 0 0;

		.employee:not(:last-child) {
			border-bottom: 1px solid var(--color-background-main);
		}
	}

	.employee {
		display: grid;
		grid-template-columns: 1fr max-content;
		padding: var(--spacing-S);

		.employeeName {
			color: var(--color-text-contrast);
			font-size: var(--font-size-XS);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		button {
			background: var(--color-background-dark);
			color: var(--color-text-contrast-secondary);
			border: none;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}
